@charset "UTF-8";

.topbar-responsive {
  background: #FFFFFF;
  padding: 1rem 1.5rem;
}

.topbar-responsive .topbar-responsive-logo {
  color: #000000;
  vertical-align: middle;
}

.topbar-responsive .menu {
  background: #FFFFFF;
}

.topbar-responsive .menu li:last-of-type {
  margin-right: 0;
}

.topbar-responsive .menu a {
  color: #000000;
  transition: color 0.15s ease-in;
}

.topbar-responsive .menu a:hover {
  color: #F5CDDE;
}

@media screen and (max-width: 39.9375em) {
  .topbar-responsive .menu a {
    padding: 0.875rem 0;
  }
}

.topbar-responsive .menu .topbar-responsive-button {
  color: #000000;
  border-color: #000000;
  border-radius: 5000px;
  transition: color 0.15s ease-in, border-color 0.15s ease-in;
}

.topbar-responsive .menu .topbar-responsive-button:hover {
  color: #F5CDDE;
  border-color: #000000;
}

@media screen and (max-width: 39.9375em) {
  .topbar-responsive .menu .topbar-responsive-button {
    width: 100%;
    margin: 0.875rem 0;
  }
}

@media screen and (max-width: 39.9375em) {
  .topbar-responsive {
    padding: 0.75rem;
  }
  .topbar-responsive .top-bar-title {
    position: relative;
    width: 100%;
  }
  .topbar-responsive .top-bar-title span {
    position: absolute;
    right: 0;
    border: 1px solid #fefefe;
    border-radius: 5px;
    padding: 0.25rem 0.45rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .topbar-responsive .top-bar-title span .menu-icon {
    margin-bottom: 4px;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@media screen and (max-width: 39.9375em) {
  .topbar-responsive-links {
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    width: 100%;
    -webkit-animation: fadeIn 1s ease-in;
            animation: fadeIn 1s ease-in;
  }
}


.ecommerce-header {
  width: 100%;
  background-color: #FFFFFF;
}

.ecommerce-header .logo {
  height: 50px;
  width: 160px;
}

.ecommerce-header ul {
  background-color: #fefefe;
}

.ecommerce-header li {
  display: inline-block;
}

.ecommerce-header .nav-links {
  margin-left: 15px;
}

.ecommerce-header a {
  color: #8a8a8a;
  transition: color 0.5s ease;
  display: block;
}

.ecommerce-header a:hover {
  color: #0b0b0b;
  transition: color 0.5s ease;
}

.ecommerce-header input {
  margin-right: 0px;
}

@media screen and (max-width: 74.9375em) {
  .ecommerce-header input {
    width: 150px;
  }
}

.ecommerce-header.top-bar {
  padding-top: 0;
  padding-bottom: 0;
}

.ecommerce-header .button.search-button {
  width: 39px;
  height: 39px;
  background-size: 20px 20px;
  background-image: url("https://placehold.it/20x20");
  background-repeat: no-repeat;
  background-position: center center;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0px;
}

.ecommerce-header .menu > .main-nav-link > a {
  padding: 1.5em 0.85em 1.9em 0.85em;
}

.ecommerce-header-top {
  width: 100%;
  background-color: #575757;
  height: 40px;
  padding: 8px 20px 10px 20px;
}

.ecommerce-header-top .fa {
  color: #fefefe;
  font-size: 1.5rem;
}

.ecommerce-header-top-message {
  color: white;
  float: left;
}

.ecommerce-header-top-links {
  color: white;
}

.ecommerce-header-top-links ul li {
  display: inline;
  padding-left: 20px;
}

.ecommerce-header-top-links a {
  color: white;
  transition: color 0.5s ease;
}

.ecommerce-header-top-links a:hover {
  color: white;
  transition: color 0.5s ease;
}

.ecommerce-header-off-canvas {
  background-color: #575757;
}

.ecommerce-header-off-canvas .menu {
  padding: 1rem 0;
}

.ecommerce-header-off-canvas .menu a {
  color: #000000;
}

.ecommerce-header-mobile {
  background-color: #575757;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0.625rem 1.25rem;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ecommerce-header-mobile-left,
.ecommerce-header-mobile-right,
.ecommerce-header-mobile-center {
  -webkit-flex: 1 0 0;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
}

.ecommerce-header-mobile-left {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.ecommerce-header-mobile-center {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ecommerce-header-mobile-right {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.ecommerce-header-mobile-right .fa {
  color: #FFFFFF;
  font-size: 1.5rem;
}

.ecommerce-header-search-exandable input[type=search] {
  margin: 0 1rem;
  background: #e6e6e6 url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
  border: solid 1px #cacaca;
  padding: 9px 10px 9px 26px;
  width: 35px;
  border-radius: 5000px;
  transition: all 0.5s;
}

.ecommerce-header-search-exandable input[type=search]:focus {
  width: 120px;
  background-color: #FFFFFF;
  border-color: #000000;
  box-shadow: 0 0 5px #000000(23, 121, 186, 0.5);
}

.ecommerce-header-search-exandable input:-moz-placeholder {
  color: #FFFFFF;
}

.ecommerce-header-search-exandable input::-webkit-input-placeholder {
  color: #000000;
}

.ecommerce-header-search-exandable input[type=search]:hover {
  background-color: #F5CDDE;
}

body{
.marketing-site-hero {
  background: url(https://images.pexels.com/photos/3983671/pexels-photo-3983671.jpeg?cs=srgb&dl=woman-in-white-shirt-decorating-cake-3983671.jpg&fm=jpg) top right no-repeat;
  height: 65vh;
  background-size: cover;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 40em) {
  .marketing-site-hero {
    background-position: center center;
  }
}

.marketing-site-hero-content {
  max-width: 75rem;
  margin: 0 auto;
  padding-left: 5%;
  padding-right: 5%;
}

.marketing-site-hero-content h1 {
  font-size: 32px;
}

.marketing-site-hero-content .button.round {
  border-radius: 5000px;
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 0;
  color:#F5CDDE;
}

@media screen and (min-width: 40em) {
  .marketing-site-hero-content {
    padding-left: 50%;
  }

.subheader-hero {
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
    font-weight: normal;
    line-height: 1.4;
    color: #FFFFFF;
}









